<h1> All my movie lists </h1>

<hr>

<% @lists.each do |list| %>
  <div class="card-product">
    <div class="card-product-infos">
      <img src=<%= "#{list.image_url}" %> />
      <%= list.name %>
    </div>
    <br>
    <div class="btn btn-ghost">
      <%= link_to "See details", list_path(list) %>
    </div>
  </div>
<% end %>

<div class="btn btn-ghost"> 
  <%= link_to "Create a new list", new_list_path(@list) %>
</div>

<!--
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>
-->